<html>
    <body>
        <div class="container">
        <br>
        <h4>
                Login here :
        </h4>
        <br>
        <form action="/login" class="form-inline" method="POST">

            <input type="text" class="form-control" placeholder="Username" name="Username" value="{{request.form.username}}"> 

            <input type="password" class="form-control" placeholder="Password" name="Password" value="{{request.form.password}}">

            <input type="email" class="form-control" placeholder="Email" name="Email" value="{{request.form.email}}">
            
            <input class="btn btn-default" type="submit" value="Login">            
        </form>
        <p>
            {{ error }}
        </p>

        </div>
    </body>
</html>