<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf8">
            <title>
                Python programing 
            </title>
            <meta name="viewport" content="width=device-width", 
            initial-scale=1>
            <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
            <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}" >
            <p>
                hey its drashti here
            </p>
                                    
        </head>
    </html>